# Shopify's public Hydrogen demo catalog. Public token published by Shopify.
# https://github.com/Shopify/hydrogen-demo-store/blob/main/.env
SESSION_SECRET=gt-shopify-local-development-only
PUBLIC_STORE_DOMAIN=hydrogen-preview.myshopify.com
PUBLIC_STOREFRONT_API_TOKEN=33ad0f277e864013b8e3c21d19432501
PUBLIC_CHECKOUT_DOMAIN=checkout.hydrogen.shop
